*{
    box-sizing: border-box;
    /* to make the small-container's padding set correctly. */
}
.big-container{
    position:relative;
    display: inline-block;
    overflow: hidden;
    /* this means it should be only the whole width of the chilren (here is canvas not the small-container ) that inside it, because canvas is block */
}
.small-container{
    position:absolute;
    display:flex;
    width:100%;
    /* max-width: 1024px; 这个可以通过parent的inline-block实现*/ 
    align-items: center;
    padding:20px;
}
.playerHealth-container{
    position:relative;
    display:flex;
    width:100%;
    justify-content: flex-end;
    border:5px solid white;
}
.player-health{
    background-color: #AAA;
    height:30px;
    width:100%;
}
.playerHealth-bg{
    position:absolute;
    background-color:rgb(235, 187, 85);
    top:0;
    right:0;
    bottom:0;
    width:100%;
    /* 此处把left去掉换成width100%是为了让他的flex-end生效 */
}

.timer{
    background-color: rgb(240, 240, 170);
    width:100px;
    height: 50px;
    flex-shrink: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.tie{
    position:absolute;
    font-size:2rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    word-spacing: .3em;
    letter-spacing: .1em;
    color:rgb(255, 255, 255);
    top:20%;
    /* align-items: center;
    justify-contddent: center; */
    /* top:0;
    right:0;
    bottom: 0;
    left:0; */
    display:none;
     /* 这四个0为了能够占满parent！否则flex及其参数不生效 */
}

.enemyHealth-container{
    position:relative;
    width:100%;
    border:5px solid white;
}
.enemy-health{
    background-color: #AAA;
    height:30px;
}
.enemyHealth-bg{
    position:absolute;
    background-color:rgb(221, 114, 110);
    top:0;
    right:0;
    left:0;
    bottom:0;
    /* 这四个0为了能够占满parent，注意此处把宽高设置为了100%则行不通！！ */
}

.playAgain-container{
    position:absolute;
    background-color: rgb(198, 228, 159);
    align-items: center;
    justify-content: center;
    opacity: 95%;
    display:none;
    top:20%;
    left:30%;
    flex-direction: column;
    padding:2rem;
    width:400px;
    height:300px;
    border-radius: 10px;
    border:2px solid white;
    
}
.playAgain-container h2{
    color:rgb(104, 99, 90);
}
.playAgainbtn{
    padding:1rem;
    border:none;
    border-radius: 10px;;
    font-size: 1.2rem;
    background-color: rgb(243, 166, 94);
    color:white;
}
.playAgainbtn:hover{
    background-color: rgb(201, 79, 79);
    box-shadow:0 0 0 2px rgb(87, 58, 58);
    cursor: pointer;
}